In [19]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [20]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Temp,Min Temp,Max Temp,Current Description,Current Details,Humidity,Cloudiness,Wind Speed
0,0,Ushuaia,AR,2022-07-15 04:25:07,-54.8000,-68.3000,26.26,26.26,26.26,Clear,clear sky,86,0,2.30
1,1,Punta Arenas,CL,2022-07-15 04:25:08,-53.1500,-70.9167,26.71,26.71,26.71,Fog,fog,100,40,5.75
2,2,Kodiak,US,2022-07-15 04:20:32,57.7900,-152.4072,62.11,62.11,62.11,Clouds,overcast clouds,77,100,0.00
3,3,Dikson,RU,2022-07-15 04:25:08,73.5069,80.5464,43.52,43.52,43.52,Clouds,scattered clouds,76,26,11.97
4,4,Mataura,NZ,2022-07-15 04:25:09,-46.1927,168.8643,45.48,45.48,45.48,Clouds,overcast clouds,97,100,4.23

In [21]:
city_data_df.dtypes

City_ID                  int64
City                    object
Country                 object
Date                    object
Lat                    float64
Lng                    float64
Temp                   float64
Min Temp               float64
Max Temp               float64
Current Description     object
Current Details         object
Humidity                 int64
Cloudiness               int64
Wind Speed             float64
dtype: object

In [38]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [39]:
## Heatmap of Max Temp

# Get locations 
locations = city_data_df[["Lat","Lng"]]

# Get temperatures of locations 
max_temp = city_data_df["Max Temp"]

# Create figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)

# Create heatmap layer
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                 dissipating=False, max_intensity=300, point_radius=4)

# Combine heatmap to figure
fig.add_layer(heat_layer)

# Show figure
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
## Heatmap of Humidity

# Get locations 
locations = city_data_df[["Lat","Lng"]]

# Get humidity of locations 
humidity = city_data_df["Humidity"]

# Create figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)

# Create heatmap layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                 dissipating=False, max_intensity=300,
                                 point_radius=4)

# Combine heatmap to figure
fig.add_layer(heat_layer)

# Show figure
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
## Heatmap of Cloudiness

# Get locations 
locations = city_data_df[["Lat","Lng"]]

# Get clouds of locations 
cloudiness = city_data_df["Cloudiness"]

# Create figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)

# Create heatmap layer
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness,
                                 dissipating=False, max_intensity=300,
                                 point_radius=4)

# Combine heatmap to figure
fig.add_layer(heat_layer)

# Show figure
fig

Figure(layout=FigureLayout(height='420px'))

In [42]:
## Heatmap of Wind Speed

# Get locations 
locations = city_data_df[["Lat","Lng"]]

# Get wind speed of locations 
wind = city_data_df["Wind Speed"]

# Create figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)

# Create heatmap layer
heat_layer = gmaps.heatmap_layer(locations, weights=wind,
                                 dissipating=False, max_intensity=300,
                                 point_radius=4)

# Combine heatmap to figure
fig.add_layer(heat_layer)

# Show figure
fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
# Ask customers what are their desired max and min temperatures
min_temp = float(input("What is the mininum tempurature you would like to vacation at? "))
max_temp = float(input("What is the maximum tempurature you would like to vacation at? "))

What is the mininum tempurature you would like to vacation at? 0
What is the maximum tempurature you would like to vacation at? 100

In [44]:
# Create DF of cities that fall between the customer's desired temperatures
preferred_cities_df  = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) &
                                (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Temp,Min Temp,Max Temp,Current Description,Current Details,Humidity,Cloudiness,Wind Speed
0,0,Ushuaia,AR,2022-07-15 04:25:07,-54.8000,-68.3000,26.26,26.26,26.26,Clear,clear sky,86,0,2.30
1,1,Punta Arenas,CL,2022-07-15 04:25:08,-53.1500,-70.9167,26.71,26.71,26.71,Fog,fog,100,40,5.75
2,2,Kodiak,US,2022-07-15 04:20:32,57.7900,-152.4072,62.11,62.11,62.11,Clouds,overcast clouds,77,100,0.00
3,3,Dikson,RU,2022-07-15 04:25:08,73.5069,80.5464,43.52,43.52,43.52,Clouds,scattered clouds,76,26,11.97
4,4,Mataura,NZ,2022-07-15 04:25:09,-46.1927,168.8643,45.48,45.48,45.48,Clouds,overcast clouds,97,100,4.23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555,555,Jacksonville Beach,US,2022-07-15 04:29:06,30.2947,-81.3931,75.42,73.08,77.05,Clouds,overcast clouds,94,100,8.05
556,556,Sao Lourenco Do Oeste,BR,2022-07-15 04:29:06,-26.3592,-52.8511,63.10,63.10,63.10,Clouds,overcast clouds,63,96,10.02
557,557,Margate,GB,2022-07-15 04:29:07,51.3813,1.3862,54.43,51.12,56.30,Clouds,broken clouds,87,83,4.70
558,558,Kyzyl-Suu,KG,2022-07-15 04:29:07,42.3414,78.0056,65.86,65.86,65.86,Clouds,overcast clouds,44,100,4.88
559,559,Inyonga,TZ,2022-07-15 04:29:08,-6.7167,32.0667,57.78,57.78,57.78,Clear,clear sky,68,9,4.79

In [45]:
preferred_cities_df.count()

City_ID                560
City                   560
Country                554
Date                   560
Lat                    560
Lng                    560
Temp                   560
Min Temp               560
Max Temp               560
Current Description    560
Current Details        560
Humidity               560
Cloudiness             560
Wind Speed             560
dtype: int64

In [46]:
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                6
Date                   0
Lat                    0
Lng                    0
Temp                   0
Min Temp               0
Max Temp               0
Current Description    0
Current Details        0
Humidity               0
Cloudiness             0
Wind Speed             0
dtype: int64

In [47]:
## Hotels at Preferred Cities

# Create Hotel DF to add in hotels to preferred cities DF
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0        Ushuaia      AR     26.26 -54.8000  -68.3000
1   Punta Arenas      CL     26.71 -53.1500  -70.9167
2         Kodiak      US     62.11  57.7900 -152.4072
3         Dikson      RU     43.52  73.5069   80.5464
4        Mataura      NZ     45.48 -46.1927  168.8643
5  Leningradskiy      RU     36.54  69.3833  178.4167
6   Puerto Ayora      EC     68.56  -0.7393  -90.3518
7      Abu Kamal      SY     85.17  34.4506   40.9171
8  Marsh Harbour      BS     82.44  26.5412  -77.0636
9      Busselton      AU     63.18 -33.6500  115.3333

In [48]:
# Set parameters to search for hotels in each location
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [ ]:
# iterate through hotel DF to get locations for each city
for index, row in hotel_df.iterrows():
    lat = row['Lat']
    lng = row['Lng']
    
    # Add latitude and longitude to parameters for search
    params["location"] = f"{lat},{lng}"
    
    # Create base_url for search
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data
    hotels = requests.get(base_url, params=params).json()
    
    # Store name of first hotel in hotel DF
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError): 
        print("No hotel found...skipping.")

No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.

In [ ]:
hotel_df

In [ ]:
## Heatmap of Max Temperature using Hotels DF

# Add info box to marker layer
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [ ]:
# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [ ]:
# Get locations 
locations = hotel_df[["Lat","Lng"]]

# Get temperatures of locations 
max_temp = hotel_df["Max Temp"]

# Create figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)

# Create heatmap layer
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
                                 dissipating=False, max_intensity=300,
                                 point_radius=4)

# Create a location marker layer 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Combine layers to figure
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Show figure
fig